<div class="container text-center">
    <h1>About Us</h1>
    <p> SoundzGood is a streaming application unlike any other application available right now. This application was developed using a model for what users value in their streaming experienc.
    This application promises to provide a new wave of experience for streaming digital music.</p>
</div>
