<div class="home-callout text-center container-fluid">
  <h1>Welcome to SoundzGood</h1>
  <h2> The optimal streaming experience for every type of user.</h2>
  <p> Enjoy the streaming experience and create a profile to share interests with other users.</p>
  <%= link_to "Create your profile!", new_user_profile_path(user_id: current_user.id) if user_signed_in? %>
</div>